.register {
  background-image: url('../../assits/register.jpg');
  background-size: cover;
}
.register .register-layer {
  background-color: rgb(49, 130, 206, 0.7);
}
.register .register-box {
  width: 600px;
}
.register input,
.register button {
  height: 40px;
}
.register input {
  outline-color: #3182ce;
  border-color: rgb(43, 108, 176, 0.2);
  border-width: 1px;
}
.register input[name="user_password"],
.register input[name="confirm_password"] {
  width: calc(100% - 50px);
}
.register .eyed {
  width: 50px;
  border: 1px solid rgb(43, 108, 176, 0.2);
  cursor: pointer;
}
.register input::placeholder,
.register a {
  color: #718096 !important;
}
.register a {
  width: fit-content !important;
  transition: 0.5s;
}
.register a:hover {
  text-decoration: underline !important;
}
.register button {
  background-color: #3182ce;
  color: white !important;
  border: 1px solid #3182ce;
  transition: 0.5s;
}
.register button:last-child {
  background-color: white;
  color: #2b6cb0 !important;
}
.register button:hover {
  background-color: #2b6cb0;
}
.register button:last-child:hover {
  background-color: #ebf8ff;
}